body {
   background-color: black;
   min-width: 600px;
}

.header {
   width: 100%;
   height: 90px;
   margin: 0 auto;
   margin-top: -8px;
   background-color: rgb(24, 24, 24);
}

.content {
   width: 100%;
   height: 98%;
   margin: 0 auto;
}

.logo {
   width: 15%;
   height: 100%;
   float: left;
   margin-left: 80px;
}

@media (max-width: 1024px) {
   .logo {
      margin-left: 20px;
   }
}

.logo-img {
   padding: 30px 0px 0px 30px;
}

div.button-template {
   width: 160px;
   height: 100%;
   float: right;
   margin-right: 100px;
}

@media (max-width: 1024px) {
   div.button-template {
      width: 145px;
      margin-right: 20px;
   }
}

.button {
   border: none;
   background-color: rgb(255, 255, 255);
   color: black;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-size: 16px;
   width: 155px;
   height: 42px;
   letter-spacing: 0.4px;
   margin-top: 24px;
   border-radius: 14px;
}

@media (max-width: 1024px) {
   .button {
      width: 131px;
      height: 33px;
      font-size: 13px;
   }
}

nav.top-menu {
   float: right;
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   color: rgb(255, 255, 255);
   padding: 33px 40px 0 0;
}

@media (max-width: 1024px) {
   nav.top-menu {
      color: #fff;
      padding: 33px 20px 0 0;
      font-weight: 600;
      font-size: 12px;
   }
}

.menu-items {
   text-align: right;
   display: inline;
   list-style-type: none;
   padding: 0;
}

.menu-item {
   margin-right: 30px;
   display: inline;
}

ul.menu-items li:first-child {
   margin-right: 60px;
}

@media (max-width: 1024px) {
   ul.menu-items li:first-child {
      margin-right: 30px;
   }
}

ul.menu-items li:last-child {
   margin: 0 auto;
}

.main-page {
   width: 100%;
   background: url(../img/BACKGROUND.svg) no-repeat;
   background-size: 100% auto;
   padding-bottom: 100px;
   text-align: end;
}

.main-page .text {
   width: 600px;
   max-width: 40%;
   text-align: center;
   margin: 0 auto;
   padding-top: 480px;
}

@media (max-width: 1230px) {
   .main-page .text {
      padding-top: 250px;
   }
}

@media (max-width: 1024px) {
   .main-page .text {
      padding-top: 250px;
      max-width: 46%;
   }
}

.main-page .text h1 {
   font: 200 14px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
   letter-spacing: 2px;
   margin: 0 auto;
}

@media (max-width: 1024px) {
   .main-page .text h1 {
      font-size: 11px;
   }
}

.main-page .text h2 {
   font: 200 54px "Poppins", sans-serif;
   color: #fff;
   margin: 0 auto;
}

@media (max-width: 1024px) {
   .main-page .text h2 {
      font-size: 35px;
   }
}

.main-page .text p {
   font: 14px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
}

@media (max-width: 1024px) {
   .main-page .text p {
      font-size: 11px;
      margin: 0 auto;
   }
}

.photo-options {
   width: 271px;
   font-family: "Poppins", sans-serif;
   font-size: 12px;
   color: rgb(255, 255, 255);
   display: inline-block;
   margin: 30px 50px 0 0;
}

@media (max-width: 1024px) {
   .photo-options {
      font-size: 8px;
   }
}

.sec {
   width: 70px;
   height: 100%;
   float: left;
   margin-right: 5px;
}

@media (max-width: 1024px) {
   .sec {
      width: 115px;
   }
}

.sec-img {
   margin: 4px 3px 0px 0px;
}

@media (max-width: 1024px) {
   .sec-img {
      width: 13px;
   }
}
.focus {
   float: left;
   width: 50px;
   height: 100%;
   margin-right: 5px;
}

@media (max-width: 1024px) {
   .focus {
      width: 39px;
   }
}

.focus-img {
   margin: 4px 3px 0px 8px;
}

@media (max-width: 1024px) {
   .focus-img {
      width: 13px;
   }
}

.iso {
   float: left;
   width: 67px;
   height: 100%;
   margin-right: 5px;
}

@media (max-width: 1024px) {
   .iso {
      width: 49px;
   }
}

.iso-img {
   margin: 4px 3px 0px 8px;
}

@media (max-width: 1024px) {
   .iso-img {
      width: 23px;
   }
}

.location-img {
   margin: 4px 3px 0px 8px;
}

div.photo-options span {
   vertical-align: top;
}

section.areas {
   width: 100%;
   margin: 0 auto;
   padding-bottom: 80px;
}

.areas_title {
   width: 600px;
   color: #fff;
   text-align: center;
   margin: 0 auto;
   font-family: "Poppins", sans-serif;
   margin-bottom: 40px;
}

.areas_title h3 {
   font-size: 40px;
   font-weight: 200;
   margin: 0 auto;
}

.areas_title p {
   font-size: 23px;
   color: rgb(192, 192, 192);
   margin: 0 auto;
}

.section-size {
   width: 1165px;
   height: 612px;
   margin: 0 auto;
}

@media (max-width: 1024px) {
   .section-size {
      width: 965px;
   }
}

.block-size {
   width: 576px;
   height: 600px;
}

@media (max-width: 1024px) {
   .block-size {
      width: 478px;
      height: 497px;
   }
}

.apple {
   float: left;
   background: url(../img/areas_photo/apple.svg);
}

@media (max-width: 1024px) {
   .apple div.block-text p {
      margin-bottom: 30px;
   }
}

.architecture {
   float: right;
   background: url(../img/areas_photo/architecture.svg);
}

.drone {
   float: left;
   background: url(../img/areas_photo/drone.svg);
}

.wildlife {
   float: right;
   background: url(../img/areas_photo/wildlife.svg);
}

.areas-button {
   width: 143px;
   height: 42px;
   text-align: center;
   background-color: rgb(255, 255, 255);
   border-radius: 14px;
}

.areas-button .circle {
   width: 32px;
   height: 32px;
   float: left;
   background-color: black;
   border-radius: 50px;
   margin: 5px 0 0 5px;
}

.areas-button button {
   border: none;
   background-color: rgb(255, 255, 255);
   font: 400 15px "Poppins", sans-serif;
   margin: 8px 0 0 -5px;
}

.block-text {
   font: 14px "Poppins", sans-serif;
}

@media (max-width: 1024px) {
   .block-text {
      width: 438px;
      margin-top: -120px;
   }
}

.block-text h3 {
   color: #fff;
   text-transform: uppercase;
   font-weight: 200;
   letter-spacing: 2px;
   margin-bottom: -5px;
}

.block-text p {
   color: rgb(192, 192, 192);
   text-align: justify;
}

.areas-block-content {
   width: 515px;
   height: 180px;
   margin: 415px 0 0 25px;
}

.drone .areas-block-content {
   margin: 400px 0 0 25px;
}

.wildlife .areas-block-content {
   margin: 400px 0 0 25px;
}

section.drone-wildlife {
   margin-top: 0px;
}

@media (max-width: 1024px) {
   section.drone-wildlife {
      margin-top: -107px;
   }
}

.mount-fuji {
   width: 100%;
   height: 625px;
   margin: 0 auto;
   background: url(../img/Mount\ Fuji.svg) no-repeat;
   background-size: 100%;
   text-align: right;
}

@media (max-width: 1024px) {
   .mount-fuji {
      margin-top: -190px;
   }
}

.mount-fuji .photo-options {
   width: 282px;
   display: inline-block;
   margin: 200px 0 0 80px;
}

@media (max-width: 1024px) {
   .mount-fuji .photo-options {
      margin: 200px 0 0 160px;
   }
}

.mount-fuji div.sec {
   margin-left: 6px;
   width: 33px;
}

@media (max-width: 1024px) {
   .mount-fuji div.sec {
      width: 24px;
   }
}

.mount-fuji div.focus {
   width: 54px;
}

@media (max-width: 1024px) {
   .mount-fuji div.focus {
      width: 41px;
   }
}

.mount-fuji div.iso {
   width: 73px;
}

@media (max-width: 1024px) {
   .mount-fuji div.iso {
      width: 52px;
   }
}

.mount-fuji section.text {
   width: 300px;
   text-align: left;
   font: 400 14px "Poppins", sans-serif;
   display: inline-block;
   margin: 275px 75px 0 0;
}

@media (max-width: 1400px) {
   .mount-fuji section.text {
      margin: 225px 75px 0 0;
   }
}

@media (max-width: 1230px) {
   .mount-fuji section.text {
      margin: 145px 75px 0 0;
   }
}

@media (max-width: 1024px) {
   .mount-fuji section.text {
      margin: 75px 75px 0 0;
   }
}

.mount-fuji section.text h3 {
   margin: 0 auto;
   color: #fff;
   font-weight: 200;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.mount-fuji section.text p {
   margin: 0 auto;
   color: rgb(192, 192, 192);
}
.drone-wildlife {
   margin-top: 20px;
}

div.tools {
   width: 100%;
   height: 563px;
   margin: 0 auto;
}

@media (max-width: 1400px) {
   div.tools {
      margin-top: -77px;
   }
}

@media (max-width: 1230px) {
   div.tools {
      margin-top: -178px;
   }
}

@media (max-width: 1024px) {
   div.tools {
      margin-top: -301px;
   }
}

.tools .container {
   width: 49%;
   height: 100%;
   float: left;
   text-align: center;
}

.tools_image {
   width: 752px;
   height: 100%;
   float: right;
   background: url(../img/tools_image/Tools.svg);
   background-size: 100% 100%;
}

@media (max-width: 1400px) {
   .tools_image {
      width: 696px;
   }
}

@media (max-width: 1230px) {
   .tools_image {
      width: 611px;
   }
}

@media (max-width: 1024px) {
   .tools_image {
      width: 508px;
   }
}

.tools_image .photo-options {
   width: 270px;
   margin: 500px 40px 0 0;
   float: right;
}

@media (max-width: 1230px) {
   .tools_image .photo-options {
      margin: 470px 40px 0 0;
   }
}

@media (max-width: 1024px) {
   .tools_image .photo-options {
      margin: 440px -50px 0 0;
   }
}

.tools_image div.sec {
   width: 44px;
}

@media (max-width: 1024px) {
   .tools_image div.sec {
      width: 34px;
      margin-right: 0px;
   }
}

.tools_image div.focus {
   width: 60px;
}

@media (max-width: 1024px) {
   .tools_image div.focus {
      width: 48px;
      margin-right: 0px;
   }
}

.tools_image div.iso {
   width: 70px;
}

@media (max-width: 1024px) {
   .tools_image div.iso {
      width: 54px;
   }
}

.tools_image .location-img {
   margin: 4px 3px 0 2px;
}

div.tools .text {
   width: 580px;
   font-family: "Poppins", sans-serif;
   color: #fff;
   display: inline-block;
   text-align: left;
   margin: 185px 20px 0 0;
}

@media (max-width: 1024px) {
   div.tools .text {
      width: 485px;
   }
}

.tools .text h1 {
   margin: 0 auto;
   color: rgb(192, 192, 192);
   font-weight: 200;
   font-size: 14px;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.tools .text h2 {
   margin: 0 auto;
   font-weight: 200;
   letter-spacing: 2px;
   font-size: 28px;
   color: #fff;
}

.tools .text p {
   margin-top: 10px;
}

div.monstera {
   width: 100%;
   height: 630px;
   background: url(../img/monstera.svg) no-repeat;
   background-size: 100%;
   text-align: end;
}

@media (max-width: 1400px) {
   div.monstera {
      margin-top: -21px;
   }
}

@media (max-width: 1230px) {
   div.monstera {
      margin-top: -52px;
   }
}

@media (max-width: 1024px) {
   div.monstera {
      margin-top: -91px;
   }
}

.monstera .text {
   width: 295px;
   display: inline-block;
   font: 400 14px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
   text-align: left;
   margin: 250px 50px 0 0;
}

@media (max-width: 1400px) {
   .monstera .text {
      margin: 185px 50px 0 0;
   }
}

@media (max-width: 1230px) {
   .monstera .text {
      margin: 88px 50px 0 0;
   }
}

@media (max-width: 1024px) {
   .monstera .text {
      margin: -25px 50px 0 0;
   }
}

.monstera .text h1 {
   margin: 0 auto;
   font-weight: 200;
   font-size: 14px;
   color: #fff;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.monstera .text p {
   margin: 0 auto;
}

div.monstera .photo-options {
   width: 290px;
   display: block;
   margin: 230px 0 0 30px;
}

@media (max-width: 1024px) {
   div.monstera .photo-options {
      margin: 230px 0 0 95px;
   }
}

.monstera div.focus {
   width: 58px;
}

@media (max-width: 1024px) {
   .monstera div.focus {
      width: 44px;
   }
}

.monstera div.sec {
   width: 61px;
}

@media (max-width: 1024px) {
   .monstera div.sec {
      width: 44px;
   }
}

@media (max-width: 1024px) {
   .monstera div.iso {
      width: 49px;
   }
}

div.past-clients {
   width: 100%;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 110px;
}

@media (max-width: 1400px) {
   div.past-clients {
      margin-top: -45px;
   }
}

@media (max-width: 1230px) {
   div.past-clients {
      margin-top: -145px;
   }
}

@media (max-width: 1024px) {
   div.past-clients {
      margin-top: -250px;
      padding-bottom: 80px;
   }
}

.past_clients_container {
   display: inline-block;
}

.past-clients .title {
   width: 500px;
   display: inline-block;
   margin-top: 90px;
   font-family: "Poppins", sans-serif;
}

.past-clients h1 {
   margin: 0 auto;
   color: #fff;
   font-weight: 200;
   font-size: 40px;
}

.past-clients h2 {
   color: rgb(192, 192, 192);
   font-size: 24px;
   font-weight: 200;
   margin: 0 auto;
}

.companies {
   margin-top: 80px;
}

.companies_list {
   display: inline;
   list-style-type: none;
}

.companies_list .item {
   display: inline;
   color: #fff;
   margin-right: 120px;
}

@media (max-width: 1024px) {
   .companies_list .item {
      margin-right: 60px;
   }
}

.companies ul {
   padding: 0;
}

@media (min-width: 1900px) {
   .companies_list .item {
      margin-right: 170px;
   }
}

.companies li:last-child {
   margin-right: 0;
}

div.himalayas {
   width: 100%;
   margin: 0 auto;
   background: url(../img/HIMALAYAS.svg) no-repeat;
   background-size: 100%;
   text-align: end;
}

.himalayas .text {
   width: 295px;
   display: inline-block;
   font: 400 14px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
   text-align: left;
   margin: 260px 80px 0 0;
}

@media (max-width: 1400px) {
   .himalayas .text {
      margin: 200px 80px 0 0;
   }
}

@media (max-width: 1230px) {
   .himalayas .text {
      margin: 130px 80px 0 0;
   }
}

@media (max-width: 1024px) {
   .himalayas .text {
      margin: 50px 80px 0 0;
   }
}

.himalayas .text h1 {
   margin: 0 auto;
   font-size: 14px;
   font-weight: 200;
   color: #fff;
   letter-spacing: 2px;
   text-transform: uppercase;
}

.himalayas .text p {
   margin: 0 auto;
}

div.himalayas .photo-options {
   margin: 217px 0 0 85px;
   width: 290px;
   padding-bottom: 20px;
}

@media (max-width: 1024px) {
   div.himalayas .photo-options {
      margin: 217px 0 0 155px;
   }
}

.himalayas div.focus {
   width: 58px;
   margin: 0 auto;
}

@media (max-width: 1024px) {
   .himalayas div.focus {
      width: 42px;
   }
}

.himalayas div.sec {
   width: 34px;
}

@media (max-width: 1024px) {
   .himalayas div.sec {
      width: 26px;
   }
}

.himalayas div.iso {
   width: 72px;
}

@media (max-width: 1024px) {
   .himalayas div.iso {
      width: 54px;
      margin-right: 0;
   }
}

div.services {
   width: 100%;
   margin: 0 auto;
   text-align: center;
   padding-bottom: 130px;
}

div.services .title {
   width: 580px;
   height: 250px;
   display: inline-block;
   color: #fff;
   font-family: "Poppins", sans-serif;
   margin-top: 80px;
}

.services .areas-button {
   display: inline-block;
   width: 150px;
}

.services .title h1 {
   font-weight: 200;
   font-size: 40px;
   line-height: 42px;
}

.services .title h2 {
   font-weight: 200;
   color: rgb(192, 192, 192);
   margin-top: -10px;
}

.footer {
   width: 100%;
   height: 600px;
   margin: 0 auto;
}

footer .menu-list {
   width: 85%;
   height: 250px;
   margin: 0 auto;
}

footer .aperture {
   width: 425px;
   float: left;
}

.aperture p {
   font: 400 13px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
}

.menu-list .pages {
   width: 300px;
   float: right;
}

@media (max-width: 1230px) {
   .menu-list .pages {
      margin-right: -175px;
   }
}

ul.pages_menu {
   list-style-type: none;
   padding: 0;
   margin-top: 10px;
}

.list_title_font {
   font: 200 14px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
   letter-spacing: 2px;
   margin: 0 auto;
   text-transform: uppercase;
}

.list_font {
   font: 400 13px "Poppins", sans-serif;
   color: #fff;
   margin-bottom: 10px;
}

.menu-list .business_areas {
   width: 250px;
   float: right;
}

ul.business_menu {
   list-style-type: none;
   padding: 0;
   margin-top: 10px;
}

div.business_areas li {
   font: 400 14px "Poppins", sans-serif;
   color: #fff;
   margin-bottom: 10px;
}

div.subscribe {
   width: 85%;
   height: 55px;
   margin: 0 auto;
   border-top: 2px solid #fff;
   border-bottom: 2px solid #fff;
   padding: 40px 0;
}

.subscribe .text {
   width: 300px;
   float: left;
}

.subscribe .text h1 {
   font: 200 14px "Poppins", sans-serif;
   color: #fff;
   letter-spacing: 2px;
   text-transform: uppercase;
   margin: 0 auto;
}

.subscribe .text p {
   font: 400 13px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
}

.subscribe_button {
   float: right;
   width: 500px;
   height: 55px;
   margin: 0 auto;
   background-color: rgb(249, 250, 251);
   border-radius: 12px;
}

.subscribe_button div {
   float: right;
   width: 63px;
   height: 30px;
   background: #000000;
   margin: 12px;
   border-radius: 10px;
}

footer .licensing {
   width: 85%;
   margin: 0 auto;
   height: 100px;
   padding-top: 60px;
}

.licensing .text {
   font: 400 14px "Poppins", sans-serif;
   color: rgb(192, 192, 192);
   float: left;
}

.licensing .text p {
   margin: 0 auto;
}

.licensing .text span {
   font-size: 13px;
}

.soc-networks {
   float: right;
}

.soc-networks img:first-child {
   float: left;
}

.soc-networks img:nth-child(2) {
   float: right;
   margin-left: 30px;
}

.soc-networks img:last-child {
   margin-left: 30px;
}
