body {
   background-color: black;
}
.header {
   width: 1440px;
   height: 90px;
   margin: 0 auto;
   margin-top: -8px;
   background-color: rgb(24, 24, 24, 100%);
   border-left: 0.5px solid rgb(58, 58, 58);
   border-right: 0.5px solid rgb(58, 58, 58);
}

.content {
   width: 83.4%;
   height: 98%;
   margin: 0 auto;
}
.logo {
   width: 20%;
   height: 100%;
   float: left;
}
.logo-img {
   padding: 30px 0px 0px 30px;
}
.button-template {
   width: 15%;
   height: 100%;
   float: right;
}
.button {
   border: none;
   background-color: rgb(255, 255, 255, 100%);
   color: black;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-size: 16px;
   width: 155px;
   height: 42px;
   letter-spacing: 0.4px;
   margin-top: 24px;
   border-radius: 14px;
}
.top-menu {
   width: 50%;
   height: 100%;
   float: left;
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   color: rgb(255, 255, 255, 100%);
   padding: 34px 0 0 145px;
}
.menu-items {
   text-align: right;
   display: inline;
   list-style-type: none;
}

.menu-item {
   margin-right: 35px;
   display: inline;
}
.main-page {
   width: 1440px;
   height: 710px;
   margin: 0 auto;
   border-right: 1px solid rgb(58, 58, 58);
   border-left: 1px solid rgb(58, 58, 58);
   background-image: url(../img/BACKGROUND.svg);
   background-size: cover;
}
.photo-options {
   width: 22%;
   height: 30px;
   font-family: "Poppins", sans-serif;
   font-size: 12px;
   color: rgb(255, 255, 255, 100%);
   margin-left: 50px;
   float: right;
   margin-top: 620px;
}
.sec {
   width: 70px;
   height: 100%;
   float: left;
   margin-right: 5px;
}
.sec-img {
   margin: 4px 3px 0px 0px;
}
.focus {
   float: left;
   width: 50px;
   height: 100%;
   margin-right: 5px;
}
.focus-img {
   margin: 4px 3px 0px 8px;
}
.iso {
   float: left;
   width: 67px;
   height: 100%;
   margin-right: 5px;
}
.iso-img {
   margin: 4px 3px 0px 8px;
}
.location-img {
   margin: 4px 3px 0px 8px;
}
.main-page-content {
   width: 42%;
   height: 30%;
   float: left;
   text-align: center;
   margin: 410px 0px 0px 420px;
}
.text-profession {
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   color: rgb(192, 192, 192, 100%);
   letter-spacing: 2px;
   font-weight: 200;
}
.text-header {
   font-family: "Poppins", sans-serif;
   font-size: 54px;
   color: #fff;
   margin-top: -20px;
   font-weight: 200;
}
.text-paragraph {
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   color: rgb(192, 192, 192, 100%);
   margin-top: -38px;
}
ul.menu-items li:first-child {
   margin-right: 90px;
}
ul.menu-items li:last-child {
   margin: 0 auto;
}

section.areas {
   width: 1440px;
   margin: 0 auto;
   border: 1px solid blue;
   padding-top: 50px;
}
.areas_title {
   width: 600px;
   border: 1px solid red;
   color: #fff;
   text-align: center;
   margin: 0 auto;
   font-family: "Poppins", sans-serif;
}
.areas_title .title {
   font-size: 40px;
   font-weight: 200;
   margin-bottom: -25px;
}
div.areas_title p {
   font-size: 23px;
   color: rgb(192, 192, 192, 100%);
}
.apple-architecture {
   width: 81.5%;
   height: 617px;
   margin: 0 auto;
   border: 1px solid yellow;
}
.apple-architecture .apple {
   width: 576px;
   height: 600px;
   border: 1px solid green;
   float: left;
   background: url(../img/areas_photo/apple.svg);
}
.architecture {
   width: 576px;
   height: 600px;
   border: 1px solid purple;
   float: right;
   background: url(../img/areas_photo/architecture.svg);
}
